<style>
    .ng-invalid { background-color: lightpink; }
    .ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
</style>

<div class="form-group jumbotron" ng-controller="subscribeCtrl">
    
    <form name="subscribe" novalidate>
        <div class="well">
            <div class="form-group">
                <label>Username</label>
                <input name="username" class="form-control" ng-model="username" required />
                <span class="error" ng-show="subscribe.username.$error.required">
                    Inserisci username
                </span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" ng-model="password" required />
                <span class="error" ng-show="subscribe.password.$error.required">
                    Inserisci password
                </span>
            </div>
            <div class="form-group">
                <label>Età</label>
                <input name="age" type="password" class="form-control" ng-model="age" required />
                <span class="error" ng-show="subscribe.age.$error.required">
                    Inserisci eta
                </span>
            </div>
            <div class="form-group">
                <label>Numero di telefono</label>
                <input name="telephonnumber" type="password" class="form-control" ng-model="telephonnumber" required />
                <span class="error" ng-show="subscribe.telephonenumber.$error.required">
                    Inserisci numero di telefono
                </span>
            </div>
            <div class="form-group">
                <label>Peso</label>
                <input name="weight" type="password" class="form-control" ng-model="weight" required />
                <span class="error" ng-show="subscribe.weight.$error.required">
                    Inserisci peso
                </span>
            </div>
            <div class="form-group">
                <label>Altezza</label>
                <input name="height" type="password" class="form-control" ng-model="height" required />
                <span class="error" ng-show="subscribe.height.$error.required">
                    Inserisci altezza
                </span>
            </div>
            <div class="text-center">
                <button ng-disabled="subscribe.$invalid" class="btn btn-primary" ng-click="iscriviti(username, password, age, telephonnumber, weight, height)">Iscriviti</button>
            </div> 
        </div>
    </form>  
</div>
