<div ng-controller="createBoardTrainingControllers">
    <div>
        <h3>Creates Board Training</h3>
        <table class="table table-striped">
            <tr>
                <td>Name</td>
                <td>Description</td>
            </tr>
            <tr ng-repeat="board in boardtraining">
                <td>{{board.name}}</td>
                <td>{{board.description}}</td>
            </tr>
            
        </table>
    </div>
    <div>
       <form role="form">
           <div class="form-group">
                <label for="brdName">Board Name</label>
                <input type="text" class="form-control" ng-model="brdName" id="brdName">
           </div>
           <div class="form-group">
               <label for="brdDescription">Description</label>
               <textarea class="form-control" rows="5" ng-model="brdDescription" id="brdDescription"></textarea>
           </div>
           <div>
               <button class="btn btn-primary"
                ng-click="newBoardTraining()">Submit</button>
           </div>
        </form>
    </div>
    
</div>
