<style>
    .ng-invalid { background-color: lightpink; }
    .ng-valid { background-color: lightgreen; }
    span.error { color: red; font-weight: bold; }
</style>

<div class="form-group jumbotron" ng-controller="loginCtrl">
    
    <form name="login" novalidate>
        <div class="well">
            <div class="form-group">
                <label>Username</label>
                <input name="username" class="form-control" ng-model="username" required />
                <span class="error" ng-show="login.username.$error.required">
                    Please enter a name
                </span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" ng-model="password" required />
                <span class="error" ng-show="login.password.$error.required">
                    Please enter a name
                </span>
            </div>
            
            <div class="text-center">
                <button ng-disabled="login.$invalid" class="btn btn-primary" ng-click="accedi(username, password)">Accedi</button>
                <button ng-disabled="login.$valid" class="btn btn-primary" ng-click="iscriviti()">Iscriviti</button>
            </div>
                          
        </div>
    </form>   
</div>
