<div class="panel panel-default row" ng-controller="userCtrl">
    <div class="col-xs-8">
        
        <table class="table table-striped table-bordered">
            <tr>
                <td>Username </td>
                <td>{{data.username}}</td>
            </tr>
            <tr>
                <td>Age </td>
                <td>{{data.age}}</td>
            </tr>
            <tr>
                <td>Telephone number </td>
                <td>{{data.telephonnumber}}</td>
            </tr>
            <tr>
                <td>Weight </td>
                <td>
                    <input type="text" id="weight" ng-model="data.weight" ng-change="button1=true">
                    <button type="button" ng-model="button1" ng-show="button1" ng-hide="!button1" ng-click="aggiorna(button1, data.weight, 'weight')">Salva</button>
                </td>
            </tr>
            <tr>
                <td>Height </td>
                <td>
                    <input type="text" id="height" ng-model="data.height" ng-change="button2=true">
                    <button type="button" id="" ng-model="button2" ng-show="button2" ng-click="aggiorna(button2, data.height, 'height')">Salva</button>
                </td>
            </tr>    
            
            
            <tr>
                <td>Board training's name</td>
                <td>
                    {{data.boardtraining.name}}
                </td>
            </tr>
            <tr>
                <td>Board training's description</td>
                <td>
                    {{data.boardtraining.description}}
                </td>
            </tr>
            
            <tr>
                <td>Subscribtions</td>
                <td>
                    <ol>
                        <li ng-repeat="sub in data.subscription">
                            Abbonamento di  {{sub.lenght}}  giorni, al costo di  {{sub.price}} €, attivato il 
                            {{sub.day}} / {{sub.month}} / {{sub.year}}
                        </li>
                    </ol>
                </td>
            </tr>
            
        </table>
        <div class="alert alert-danger" ng-show="error" >
            Errore nell'aggiornamento
            <a href="" class="alert-link" ng-click="reload()">Riprova</a>
        </div>
        
    </div>
    <div class="col-xs-3">
        Secondo
    </div>
</div>